.form
{
    display: flex;
	flex-direction: column;
    width: 100%;
	margin-left: auto;
	margin-right: auto;

    &__title
    {
        width: 100%;
        text-align: center;
        font-family: $title-font;
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    &__subtitle
    {
        width: 100%;
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 4em;
    }

    &__line
    {
        display: flex;
	    flex-direction: row;
        width: 100%;
        font-size: 1.2em;
        margin-bottom: 2em;
        
        &__input
        {
            padding: 0.7em;
            width: 100%;        
            border: 1px $main-dark solid;
            
            &:focus
            {
                border-color: $main-color;
            }
        }

        &__textarea
        {
            resize: none;
        }

        &__checkbox
        {
            & > input[type=checkbox]
            {
                width: 1.5em;
                height: 1.5em;
                vertical-align: bottom;
            }

            & > label
            {
                padding: 0.5em;
                text-align: left;
            }
        }
    }

    &__buttons
    {
        display: flex;
	    flex-direction: row;
        justify-content: center;
        margin-top: 2em;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}