.result
{
    width: 40%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
    border: $main-color;
    background-color: $main-color;
    
    &-content
    {
        color: $main-light;
        font-weight: bold;
        font-size: 1.2em;
        padding: 1.5em;

        &-block:not(:last-child)
        {
            margin-bottom: 1em;
        }
    }
}